<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
</head>
<body>
    
    <div class="container">

        <p>Random Word (attempt #{{request.session.counter}})</p>

        <h1>{{ word }}</h1>

        <form action="/random_word/new" method="post">
            {% csrf_token %}
            <input type="submit" value="Generate">
        </form>

    </div>

</body>
</html>